.custom-navbar-toggler {
  background-image: url("../../assets/button-navbar.svg");
  background-size: 56px 40px;
  width: 56px;
  height: 40px;
  .navbar-toggler-icon {
    background-image: none;
    background-color: transparent;
    width: 56px;
    height: 40px;
    border: none;
  }

  border: none !important;
  outline: none !important;

  &:focus {
    box-shadow: none !important;
    border: none !important;
  }
}
